@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

body{
    background-color: #f1f5f8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', sans-serif;
}

.container{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #063251;
}

section{
    width: 80%;
}

#formTask{
    display: flex;
}

.newTask{
    width: 75%;
    height: 25px;
    border: 1px solid #005fcc;
    border-radius: 5px 0 0 5px;
    padding-left: 5px;
}

.add-task-btn{
    width: 95px;
    height: 25px;
    background-color: #a5d5f9;
    border: none;
    border-radius: 0 5px 5px 0px;
}

main{
    width: 80%;
}

span{
    color: #063251;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 5px;
}

.clear-tasks-btn{
    border: none;
    background-color: white;
    color: #b9473c;
    font-weight: 700;
    height: 60px;
    cursor: pointer;
}